extends layout
block content
    button#bar_button Bar
    .top dskfsdk
    #value_id.content sdfdsg
    div(id="main" style='height:400px;width:800px')
    script(src='/echarts.js')
    script(src='/charts.js')
    script(src='/javascripts/view_js/index.js')